<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
  </head>
  <body>
    <h1>Student Registration</h1>
    <form action="{% url 'registration_form' %}" method="post">
      <!--Learn about CSRF from file-->
      {% csrf_token %} {{form}}
      <!--without csrf put will not work, will give error csrf failed -->
      <button type="submit">Register</button>
    </form>
    <!-- Form label and Input by label and input -->
    <!-- <form action="'">
      {{form.first_name.label_tag}}{{from.first_name}}
      {{form.last_name.label_tag}}{{form.last_name}}
    </form> -->
  </body>
</html>
